
<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>

<div class="container">

	<div class="row">
		<h1 class="text-center">管理者マイページ</h1>
	</div>
	<div class="row space">
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
		    <div class="menu-box">
		   		<h2 class="h2 text-center"><%=link_to '商品一覧', administrator_cds_path %></h2>
		 	</div>
		</div>
		<div class="col-xs-5">
			<div class="menu-box">
		 		<h2 class="h2 text-center"><%=link_to '商品追加', new_administrator_cd_path %></h2>
		    </div>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<div class="menu-box">
		 		<h2 class="h2 text-center"><%=link_to '購入履歴',root_path %></h2>
		 	</div>
		</div>
		<div class="col-xs-5">
			<div class="menu-box">
		 		<h2 class="h2 text-center"><%=link_to 'ユーザー一覧', administrator_end_users_path %></h2>
		 	</div>
		</div>
		<div class="col-xs-1"></div>
    </div>
    <div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<div class="menu-box">
		 		<h2 class="h2 text-center"><%=link_to 'レーベル追加',administrator_labels_path %></h2>
		 	</div>
		</div>
		<div class="col-xs-5">
			<div class="menu-box">
		 		<h2 class="h2 text-center"><%=link_to 'アーティスト追加', administrator_artists_path %></h2>
		 	</div>
		</div>
		<div class="col-xs-1"></div>
    </div>
</div>
