<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>

<h1>CD一覧</h1>
<div class="container">
  <% @cds.each do |cd| %>
    <div class="row">
      <div class="col-xs-3">
        <%= cd.name %>
        <%= attachment_image_tag @cd, :image, :fill, 200,200, format: 'jpeg', fallback: "no_image.png" , size:"200x200" %>
      </div>
      <div class="col-xs-3">
        <%= cd.status %><br>
        <b>¥</b>
        <%= cd.price %><br>
      </div>
      </div>
    </div>
  <%= link_to "詳細", new_cart_item_path(cd.id) %>
  <% end %>
  <%= paginate @cds, class: "paginate" %>
</div>
