<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="text-center">ユーザー情報変更</h2>
				<%= form_for(@user) do |f| %>
				        <div class="c-signup">
				            <div class="c-signup__field">
				                <%= f.label :姓, class:'c-label' %>
				                <%= f.text_field :family_name,  autofocus: true, autocomplete: "姓",class:'c-input-field' %>
				            </div>
				            <div class="c-signup__field">
				                <%= f.label :名, class:'c-label' %><br />
				                <%= f.text_field :first_name, autocomplete: "名",class:'c-input-field' %>
				            </div>
				            <div class="c-signup__field">
				                <%= f.label :セイ, class:'c-label' %><br />
				                <%= f.text_field :sei, autocomplete: "セイ",class:'c-input-field' %>
				            </div>
				            <div class="c-signup__field">
				                 <%= f.label :メイ, class:'c-label' %><br />
				                 <%= f.text_field :mei, autocomplete: "メイ",class:'c-input-field' %>
				            </div>
				            <div class="c-signup__field c-signup__field--fill">
				                <%= f.label :電話番号, class:'c-label' %><br />
				                <%= f.text_field :phone_number, autocomplete: "電話番号",class:'c-input-field',placeholder:'ハイフンなしで入力してください' %>
				            </div>
				            <div class="c-signup__field c-signup__field--fill">
				                <%= f.label :メールアドレス,class:'c-label' %><br />
				                <%= f.email_field :email, autocomplete: "メールアドレス",class:'fc-input-field' %>
				            </div>
				            <div class="c-signup__field c-signup__field--fill">
				                <%= f.label :郵便番号,class:'c-label' %><br />
				                <%= f.text_field :postal_code, autocomplete: "郵便番号", class:'c-input-field' %>
				            </div>
				            <div class="c-signup__field c-signup__field--fill">
				                <%= f.label :住所,class:'c-label' %><br />
				                <%= f.text_field :address, autocomplete: "住所",class:'c-input-field' %>
				            </div>
				            <div class="c-signup__field c-signup__field--fill">
				            	<%= link_to "住所を追加する", new_address_path %>
				            </div>
				            <div class="c-signup__button">
				                  <%= f.submit "変更",class:"c-button", "data-confirm" => "更新しますか？" %>
				            </div>
				        </div>
				<% end %>
		</div>
	</div>
</div>