<h2 style="text-rendering: center;">会員登録情報変更</h2>

<%= form_for(@user) do |f| %>

  <div class="field">
	<label>お名前</label>
	<%= f.text_field :family_name %>
	<input type="text" name="familiy_name">
	<%= f.text_field :first_name %>
	<input type="text" name="first_name">
  </div>

  <div class="field">
	<label>オナマエ</label>
	<%= f.text_field :sei %>
	<input type="text" name="sei">
	<%= f.text_field :mei %>
	<input tpype="text" name="mei">
  </div>

  <div class="field">
	<label>郵便番号</label>
	<%= f.number_field :postal_code %>
	<input type="number" name="postal_code">
  </div>

  <div class="field">
	<label>住所</label>
	<%= f.text_field :address %>
	<input type="text" name="address">
  </div>

  <div class="field">
	<label>電話番号</label>
	<%= f.phone_field :phone_number %>
	<input type="tel" name="phone_number">
  </div>

  <div class="field">
	<label>メールアドレス</label>
	<%= f.email_field :email %>
	<input type="email" name="email">
  </div>

  <div class="field">
	<label>パスワード</label>
	<%= f.password_field :password %>
	<input type="password" name="password">
  </div>

	<%= f.submit '変更', class: "btn btn-default" %>

<% end %>

