<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>


<div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">管理者ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form class="login-container">
    <p>
       <%= f.label :email %><br />
       <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </p>
    <p>
       <%= f.label :password %><br />
       <%= f.password_field :password, autocomplete: "current-password" %>
    </p>
    <p>
    <%= f.submit "Log in" %>
    </p>
    <% end %>
  </form>
</div>

<%= render "devise/admins/shared/links" %>
