<div class="user-content">
  <div class="container">
    <div class="row">

      <% if @order.errors.any? %>
        <% @order.errors.messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

      <%= form_for @order do |f| %>
        <div class="col-md-4">
              <h3 class="header">注文商品一覧</h3>
              <% sum = 0 %>
              <% @cart_items.each do |cart | %>
                <%= attachment_image_tag cart.cd, :image, :fill, 200,200, format: 'jpeg', fallback: "no_image.png" , size:"200x200"%>
        </div>
        <div class="col-md-8">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>アルバム名</th>
                      <th>アーティスト名</th>
                      <th>価格(税込)</th>
                    </tr>
                  </thead>
                  <tbody>
                <tr>
                  <td></td>
                  <td><%= cart.cd.name %></td>
                  <td><%= @artist.name %></td>
                  <td><%= (cart.cd.price * 1.08).ceil %></td>
                </tr>
                <% sum = sum + cart.cd.price %>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
    <div class="row">
          <div class="col-md-6 center">
          <h3 class="header">ユーザー情報</h3>
            <div class="user_info">
              <div class="user-body">
                <div class="user-text1">
                <%= @user.phone_number  %>
                </div>
                <div class="user-text2">
                  <% @addresses.each do |address| %>
                      <label><%= f. radio_button :address_id, "#{address.id}" %></label>
                      <label>郵便番号</label>
                      <%= address.postal_code %>
                  <% end %>

                <!-- 下にパスを追加する -->
                <%= link_to "変更", "#", class:"btn btn-primary" %>
                </div>
                <div class="user-text3">
                <%= f.select :payment_method, Order.payment_methods.keys.to_a,{} %>
                </div>
              </div>
            </div>
          </div>
          <div class = "col-md-6 center">
            <h3 class="header">合計金額</h3>
            <div class="cd_price">
              価格(税込):<%= ( sum * 1.08).ceil %>円<br>
            <div class="sent_price">
              配送料 500円
            </div><br>
            <div class="price">
              合計金額:<%= ((sum * 1.08)+500).ceil %>円
              <%= f.hidden_field :total_price, :value => "#{((sum * 1.08)+500).ceil}" %>
            </div>
            <div class = "order_btn">
              <%= f.submit :class =>  "btn btn-success" %><br>
            </div>
          </div >
      </div>
      <% end %>
     </div>
   </div>
</div>
