<div class="index-content">
  <div class="container">
    <div class="row">
      <% if @cart_item.errors.any? %>
        <% @cart_item.errors.messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

      <h1>CD詳細</h1>

      <div class="col-xs-4">
        <div class="card">
          <h4 class="card-header">
            <%= @cd.name %>
          </h4>
          <div class="card-image-top">
            <%= attachment_image_tag @cd, :image, :fill, 200,200, format: 'jpeg', fallback: "no_image.png" , size:"200x200"%>
          </div>
          <div class="card-body">
            <p class="card-text">
            販売状況:<%= @cd.status %>
            </p>
            <p class="card-text">
            在庫数:<%= @cd.stock %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="label">
          レーベル:<%= @cd.label.name %>
        </div>
        <div class="genre">
          ジャンル:<%= @cd.genre.name %>
        </div>
        <h3 class="price">
          価格(税込):<%= (@cd.price * 1.08).ceil %>円
        </h3>
        <% @cd.disks.each do |disk| %>
          <div class="disk-number">
            Disk<%= disk.number %>
          </div>
          <div class="music">
            <table class="table">
              <thead>
                <tr>
                  <th>曲順</th>
                  <th>曲名</th>
                  <th>アーティスト</th>
                </tr>
              </thead>
              <tbody>
                <% disk.musics.each do |music| %>
                  <tr>
                    <td><%= music.number %></td>
                    <td><%= music.name %></td>
                    <td><%= music.artist.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
          <div class="col-xs-6"></div>
          <div class="col-xs-6">
            <%= form_for @cart_item do |f| %>
                <%= f.label :枚数 %>
                <%= f.number_field :number %>
                <%= f.submit '修正', class:"btn btn-success"%>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
