<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h1>CD詳細</h1>
      <div class="name">
        タイトル<br>
        <%= @cd.name %>
      </div>
      <div class="image">
        <%= attachment_image_tag @cd, :image, :fill, 200,200, format: 'jpeg', fallback: "no_image.png" , size:"200x200"%>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="price">
        価格(税込):
        <%= @cd.price %>
      </div>
      <div class="stock">
        在庫数:
        <%= @cd.stock %>
      </div>
      <div class="status">
        販売状況:
        <%= @cd.status %>
      </div>
      <div class="label">
        レーベル:
        <%= @cd.label.name %>
      </div>
      <div class="genre">
        ジャンル:
        <%= @cd.genre.name %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="disk-number">
        <% @cd.disks.each do |disk| %>
          <%= disk.number %>
      </div>
      <div class="music">
          <% disk.musics.each do |music| %>
            <%= music.number %>
            <%= music.name %>
            <%= music.artist.name %>
          <% end %>
      </div>
        <% end %>
        <%= @cart_item.number%>枚
    </div>
        <%= link_to "枚数変更", edit_cart_item_path %>
        <%= link_to "カートから消す", cart_item_path, method: :delete %>
    <div class="col-xs-4">

    </div>
  </div>
</div>
