

<div class="container">
	<div class="row">
  <div class="col-md-4 col-md-offset-4">
		<h2>住所情報編集</h2>

	  <div class="form-horizontal" role="form">
        <%= form_for @address do |f| %>
        <%= render 'layouts/errors_messages', model: f.object %>
		  	<div class="form-group">
		    <%= f.label :family_name, "名前" , :class => " control-label" %><br>
        <%= f.text_field :family_name, class: 'form-control', placeholder: "姓",id: "half-form1" %>

        <%= f.text_field :first_name, class: 'form-control', placeholder: "名",id: "half-form2"   %><br>
		  	</div>

		  	<div class="form-group">
        <%= f.text_field :sei, class: 'form-control' , placeholder: "セイ",id: "half-form3"  %>

        <%= f.text_field :mei, class: 'form-control' , placeholder: "メイ" ,id: "half-form4" %><br>
	  		</div>

			  <div class="form-group">
        <%= f.label :postal_code, "郵便番号" , :class => " control-label" %>
        <%= f.text_field :postal_code, class: 'form-control', placeholder: "郵便番号を入力して下さい。"  %><br>
	  		</div>

				<div class="form-group">
        <%= f.label :address, "住所", :class => " control-label" %>
        <%= f.text_field :address, class: 'form-control', placeholder: "住所を入力して下さい。"   %><br>
		  	</div>

				<div class="form-group">
        <%= f.label :phone_number, "電話番号 ", :class => " control-label" %>
        <%= f.telephone_field :phone_number, class: 'form-control', placeholder: "電話番号を入力して下さい。"  %><br>
			 </div>

			  <div class="form-group">
        <%= f.submit "変更" , class: "btn btn-info col-md-10 col-md-offset-1" %>
			 </div>
    <% end %>
     </div>
   </div>
</div>