<div class="index-content">
  <div class="container">
    <div class="row">
      <h1 class="header">CD一覧</h1>
        <% @cds.each do |cd| %>
          <div class="col-xs-3">
            <div class="card">
              <h4 class="card-header">
                <%= cd.name %>
              </h4>
              <div class="card-image-top">
                <%= attachment_image_tag cd, :image, :fill, 200,200, format: 'jpeg', fallback: "no_image.png" , size:"200x200"%>
              </div>
              <div class="card-body">
                <h5 class="card-text">¥<%= (cd.price * 1.08).ceil %>(税込)</h5>
                <p class="card-text"><%= cd.status %></p>
                <%= link_to "詳細", administrator_cd_path(cd.id), class:"btn btn-primary" %>
              </div>
            </div>
          </div>
          <% end %>
        <%= paginate @cds, class: "paginate" %>
    </div>
  </div>
</div>
