<h1>CD一覧</h1>

<div class="container">
    <div class="row">
      <% @cds.each do |cd| %>
      <div class="box">
        <div class="hoge">
        <h2><%= cd.name %></h2>
        <%= attachment_image_tag @cd, :image, :fill, 200,200, format: 'jpeg', fallback: "no_image.png" , size:"200x200" %><br>
        <%= cd.status %><br>
        <b>¥</b>
        <%= cd.price %><br>
        <%= link_to "詳細",  administrator_cd_path(cd.id) %>
        </div>
      </div>
      <% end %>
    </div>
</div>
