<h1>CD一覧</h1>

<div class="container">
  <% @cds.each do |cd| %>
    <div class="row">
      <div class="col-xs-3">
        <%= cd.name %>
        <%= attachment_image_tag @cd, :image, :fill, 200,200, format: 'jpeg', fallback: "no_image.png" , size:"200x200" %>
      </div>
      <div class="col-xs-3">
        <%= cd.status %><br>
        <b>¥</b>
        <%= cd.price %><br>
        <%= link_to "詳細",  admin_cd_path(cd.id) %>
      </div>
      </div>
    </div>
  <% end %>
</div>
