<div class="container">
  <div class="row">

    <% if @artist.errors.any? %>
      <% @artist.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>

    <div class="col-xs-4">
      <h3>アーティスト登録</h3>
      <%= form_for @artist, :url => {:action => :create} do |f| %>
        <%= f.label :アーティスト名  %><br>
        <%= f.text_field :name %><br>
        <%= f.submit class:"btn btn-success"%>
      <% end %>
    </div>
    <div class="col-xs-8">
      <h3>アーティスト一覧</h3>
      <table class="table">
        <tbody>
          <% @artists.each do |artist| %>
            <tr>
              <td>アーティスト名</td>
              <td><%= artist.name %></td>
              <td><%= link_to "編集", edit_administrator_artist_path(artist), class:"btn btn-primary" %></td>
              <td><%= link_to "削除", administrator_artist_path(artist), method: :delete, class:"btn btn-danger"  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
