<h1>Admin::Artists#new</h1>
<% if @artist.errors.any? %>
  <% @artist.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_for @artist, :url => {:action => :create} do |a| %>
  <%= a.label :Name %><br>
  <%= a.text_field :name %><br>
  <%= a.submit %>
<% end %>
