<!DOCTYPE html>
<html>
  <head>
    <title>ECsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span class="app-titile">ECsite</span>
          <span class="admin_icon">
            <%= link_to '←管理者はこちら', new_admin_session_path, class: "glyphicon glyphicon-user" %>
          </span>
        </nav>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class="">
                  <%= link_to '  ECsite', cds_path, class: "glyphicon glyphicon-home" %>
                </li>
                <li class="">
                  <%= link_to ' Users', '#', class: "glyphicon glyphicon-user" %>
                </li>
                <li class="">
                  <%= link_to ' logout',destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %>
                </li>
                <%= link_to("cart_items") do %>
                  <span class = "glyphicon glyphicon-shopping-cart" = "true"></span>
                <% end %>
                <% elsif admin_signed_in? %>
                <li>
                <%= link_to '  ECsite', cds_path, class: "glyphicon glyphicon-home" %>
                </li>
                <li class="">
                <%= link_to ' Users', '#', class: "glyphicon glyphicon-user" %>
                </li>
                <li>
                  <%= link_to " admin_logout", destroy_admin_session_path, method: :delete,class: "glyphicon glyphicon-log-out"  %>
                </li>
              <% else %>
                <li class="">
                  <%= link_to ' ECsite', cds_path, class: "glyphicon glyphicon-home" %>
                </li>
                <li class="Sign Up">
                  <%= link_to ' Sign up',new_user_registration_path, class: "glyphicon glyphicon-edit" %>
                </li>
                <li class="">
                  <%= link_to  ' login',new_user_session_path,  class: "glyphicon glyphicon-log-in" %>
                </li>
              <% end %>
              </ul>
      </div>
    </nav>
    

    <%= yield %>

  </body>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
        <p>CopyRight hello zinnan.inc</p>
      </div>
    </div>
  </div>

</html>
