<!DOCTYPE html>
<html>
  <head>
    <title>ECsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <%= yield %>
  </body>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <p>CopyRight hello zinnan.inc</p>
    </div>
  </div>
</div>

</html>
